@import "../../assets/css/style.scss";
.itemCart {
  display: flex;
  .cartImage {
    .image {
      background: red;
      width: 100px;
      height: 66px;
      border-radius: 12px;
    }
    .choose {
      .wishlist,
      .compare,
      .remove {
        display: flex;
        display: flex;
        align-items: baseline;
      }
    }
  }
  .cartInfItem {
    .title {
      margin-top: 0px;
    }
    .info {
      display: flex;
      align-items: center;
      .infoRight {
        p {
          font-family: Open Sans Regular;
          font-size: 12px;
          line-height: 16px;
        }
      }
    }
    .wrapStar {
      display: flex;
      margin-top: 10px;
    }
    h3 {
      color: $green-cl;
    }
  }
}
