@import "../../../assets/css/style.scss";

.billingInf {
  form {
    display: flex;

    input {
      border-radius: 12px;
      padding: 10px;
      background: $gray-tag;
      border: 1px solid $gray-bordercard;
      width: 100%;
    }
    .formLeft {
      margin-right: 32px;
      .label {
        margin-top: 32px;
      }
    }
    .formRight {
      .label {
        margin-top: 32px;
      }
    }
  }
}
